.bbsg_highlight {
  color: #990000; // Light mode: Red text
  background-color: #ffffff; // Light mode: White background
  font-weight: bold;

  @media (prefers-color-scheme: dark) {
    color: #ffcc00; // Dark mode: Yellow text
    background-color: #4a4a4a; // Dark mode: Grey background
  }
}
